# Environment variables for local execution
GEMINI_API_KEY=
GAMMA_API_KEY=
NOTICE_ID=
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=3306
DB_NAME=
BASIC_GAMMA_THEME_ID=
BROWN_GAMMA_THEME_ID=
POSTPROCESS_BACKGROUND_PROFILE=basic
