# Environment variables for local execution
GOOGLE_API_KEY=
GAMMA_API_KEY=
TEMPLATE_PPTX_PATH=

NOTICE_ID=
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=3306
DB_NAME=

BASIC_GAMMA_THEME_ID=
BROWN_GAMMA_THEME_ID=
POSTPROCESS_BACKGROUND_PROFILE=basic
POSTPROCESS_BACKGROUND_IMAGE_PATH=
